p1 {
	font-family: 'Indie Flower', cursive;
	font-size: 80px;
	color: white;
}

.empty {
/*	left: 500px;*/
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: white;
}

.empty1 {
	/*left: 500px;*/
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #F3D386;
}

.empty2 {
	/*left: 500px;*/
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #EC907E;
}


img {
	position: absolute;
	top: 440px;
	left: 620px;
}

#a {
	position: absolute;
	left: 400;
}

#b {
	position: absolute;
	left: 460;
}

#c {
	position: absolute;
	left: 520;
}

#d {
	position: absolute;
	left: 580;
}

#e {
	position: absolute;
	left: 640;
}

#f {
	position: absolute;
	left: 700;
}

#g {
	position: absolute;
	left: 760;
}

#audio {
	top: 600px;
}


#pooh {
	font-family: 'Indie Flower', cursive;
	font-size: 40px;
	color: white;
}



